.links 
{
    text-decoration: none;
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
}

.header1 
{
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}

.par
{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987
}

.header2
{
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
}

.header_menu
{
    display: flex;
}

.header_menu li
{
    list-style: none;
    margin-right: 10px;
}

.products_wrapper
{
    display: flex;
}

.product_item_wrapper
{
    width: 200px;
    height: 400px;
    overflow: hidden;
    margin-right: 20px;
}

.pi_img_wrapper
{
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.pi_img_wrapper img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pi_title
{
    font-weight: 600;
    margin: 5px 0;
}